/*.bigtitle{
	resize:both;
}
#ul_su_curs{
	display:block;
}
*/
table{
	text-align:center;
}
@media (min-width: 620px) {
  main {
    column-count: 1;
    column-gap: 20px;
  }

  .main_container {
    column-count: 1;
  }

  section {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid;
  }
}

@media (min-width: 960px) {
  main {
     column-count: 1;
  }
  .main_container{
    column-count:1;
  }
}