* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
	overflow:scroll;
	position:relative;
	height: 100%; /*Allow the body to grow as high as the content in it requires.*/
	min-height: 100%; /*Force the body not to get any smaller than then window height.*/
    background: rgba(223,233,236,1); /* For browsers that do not support gradients */
    /*background: linear-gradient(-35deg, #c6d1a7, brown); /* Standard syntax (must be last) */
	background-attachment : fixed;
	font-family:Montserrat;
	font-size: 100%;

}
body header{
	position: relative;
	margin:3%;
}
body header nav{
	text-align: center;
	position:relative;
	height:25%;
	justify-content: center;
}
body header nav a {
	/*border-right:2px solid DarkSlateGrey;*/
	box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.75);
	font-family: Verdana;
	background-color:lightgrey;
	text-decoration: none;
	color: DarkSlateGrey;
}
body header nav a.active {
    background-color: #4CAF50;
    color: white;
}

body header nav a:hover:not(.active) {
    background-color: #FAFAFA;
    color: brown;
}
ul{
	list-style: none;
}
#nav_ul{
	display:grid;
	position:relative;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(4, 1fr);
	/*grid-gap:2%;*/
}
li.nav_item{
	position:relative;
	width:100%;
	margin:auto;
}
li.nav_item a{
	align-content: center;
	text-decoration: none;
	color: #000;
 	transition: font-size 0.3s ease, background-color 0.3s ease;
	padding:0;
} 
li#home_li{
	grid-row:1;
	grid-column:1;
}
li#sugestii_li{
	grid-row:1;
	grid-column:2;
}
#catalog_li{
	grid-row:1;
	grid-column:3;
}
#myprofile_li{
	grid-row:2;
	grid-column:4;
	display:inline-block;
}
#logout_li{;
	grid-row:3;
	grid-column:4;
	display:inline-block;
}
#dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown a {
    position:relative;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

ul.nav_item:hover #dropdown{
	display:block;
}

#a_myprofile, #a_logout{
	border-radius:17px;
	border:2px solid DarkSlateGrey;
}
#nav_ul li:first-child{
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}
#nav_ul li:last-child{
	border-top-right-radius:17px;
	border-bottom-right-radius: 17px;
	display:inline;
}
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

#page_container{
	margin:5% 3%;
	position:relative;
	display: grid;
	justify-content: center;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-gap:2%
}
#page_container > div{
	background-color: rgba(255, 255, 255, 0.8);
}
#rata_promo{
	height:100%;
	grid-column: 1/3;
	grid-row: 1/4;
	border-right: 2px solid DarkSlateGrey;

}
#img_rata{
	display:block;
	height:100%;
	width:100%;
}
#lista_sugestii {

	text-align:center;
	height:100%;
	grid-row:1/4;
	grid-column:3;
	/*display:grid;*/
	display:none;
	grid-auto-rows:1fr;
	grid-gap:5%;
	grid-auto-columns:1fr;
	list-style-type: none;
	margin:auto;
	box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.75);
	border: 2px solid DarkSlateGrey;
	background-color:#bd9f63;
}

ul > li {
	display:block;
    filter: alpha(opacity=80); /* For IE8 and earlier */
	opacity: 0.8;
  	font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
/*li#home_li a:hover, li#sugestii_li a:hover, li#catalog_li a:hover. li#myprofile_li a:hover*/
.nav_item a:hover {
	margin:auto;
	height:100%;
	width:100%;
	font-size: 30px;
	align-content:center;
	text-decoration:none;
	display:inline;
	color:#000;
	background: lightgrey;
	color:DarkSlateGrey;
	transition: font-size 0.3s ease, background-color 0.3s ease;
}
#sugestie_laborator{
	margin:0;
	grid-row:1;
	grid-column:1;
}
#sugestie_curs{
	margin:0;
	grid-row:2;
	grid-column:1;
}
#sugestie_eveniment{
	margin:0;
	grid-row:3;
	grid-column:1;
}
#git_grafic{
	height:100%;
	width:100%;
	margin:auto;
	border-bottom: 2px solid DarkSlateGrey;
	text-align: center;
	grid-column:3;
	grid-row:1;
}

#img_graph{
	display:block;
	height:100%;
	width:100%;
	margin:auto;
}
#calendar_wrapper{
	position:relative;
	height:100%;
	width:100%;
	margin:auto;
	grid-column:3;
	grid-row:2;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: 1fr;
	
	text-align: center;
}
.calendar_week,
.calendar_header {
	height:100%;
	width:100%;
	
	display: grid;
	grid-template-columns: repeat(7, 1fr); 
	grid-template-rows: 1fr;
	
}
.calendar_week {
  grid-auto-rows: 100px;
  text-align: right;
}
.calendar_header {
	grid-row:1;
	align-items: center;
	text-align: center;
	background-color:lightblue;
}

.calendar_header > p:first-child{
	grid-column:1;
}

.calendar_header > p:nth-child(2){
	grid-column:2;
}

.calendar_header > p:nth-child(3){
	grid-column:3;
}

.calendar_header > p:nth-child(4){
	grid-column:4;
}

.calendar_header > p:nth-child(5){
	grid-column:5;
}

.calendar_header > p:nth-child(6){
	grid-column:6;
}
.calendar_header > p:last-child{
	grid-column: 7;
}

#week1{
	grid-row:2;
}
#week2{
	grid-row:3;
}
#week3{
	grid-row:4;
}
#week4{
	grid-row:5;
}
#week4 > .day:nth-child(3){
	background-color:lightblue;
}
#week5{
	grid-row:6;
}
.calendar_day {
  padding: 16px;
}

.calendar_header > p {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;

}

.day {
	text-align:center;
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}

.day:first-child{
	grid-column:1;
}
.day:nth-child(2){
	grid-column: 2;
}
.day:nth-child(3){
	grid-column: 3;
}
.day:nth-child(4){
	grid-column:4;
}
.day:nth-child(5){
	grid-column:5;
}
.day:nth-child(6){
	grid-column: 6;
}
.day:last-child {
  border-right: 0;
  grid-column:7;
}

#events{
	text-align: center;
	grid-column:3;
	grid-row:3;
}
#footer_id{
	color:yellow;
	text-align:center;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 	body header{
 		margin-left:12%;
 		margin-right:12%;
 	}
 	body header nav{
 		text-align: center;
		position:relative;
		height:25%;
 	}
 	/*
 	body header{
		position: relative;
		margin:3%;
	}
	*/
 	#nav_ul{
		display:grid;
		position:relative;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		margin-left:12%;
		margin-right:12%;
	}
	.nav_item{
		position:relative;
		width:100%;
		margin:auto;
	}
	.nav_item a{
		align-content: center;
		text-decoration: none;
		color: #000;
	 	transition: font-size 0.3s ease, background-color 0.3s ease;
		padding:0;
	} 
	#home_li{
		grid-row:1;
		grid-column:1;
	}
	#sugestii_li{
		grid-row:1;
		grid-column:2;
	}
	#catalog_li{
		grid-row:2;
		grid-column:1;
	}
	#ddn{
		list-style: none;
		grid-row:2;
		grid-column:2;
	}
	#myprofile_li{
		grid-row:3;
		grid-column:2;
	}
	#logout_li{
		grid-row:4;
		grid-column:2;
	}
	#page_container{
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		margin-left:12%;
		margin-right:12%;
	}
	#page_container > div{
		background-color: rgba(255, 255, 255, 0.8);
	}
	#rata_promo{
		text-align: center;
		grid-column: 1;
		grid-row: 1/3;

	}
	#git_grafic{
		text-align: center;
		grid-column:1;
		grid-row:3;
	}
	#p_grafic{
		height:auto;
	}
	#calendar_wrapper{
		position:relative;
		height:100%;
		width:100%;
		margin:auto;
		grid-column:1;
		grid-row:4;
		display: grid;
		grid-template-rows: repeat(6, 1fr);
		grid-template-columns: 1fr;
		
		text-align: center;
	}
	.calendar_week,
	.calendar_header {
		height:100%;
		width:100%;
		
		display: grid;
		grid-template-columns: repeat(7, 1fr); 
		grid-template-rows: 1fr;
		
	}
	.calendar_week {
	  grid-auto-rows: 100px;
	  text-align: right;
	}
	.calendar_header {
		grid-row:1;
		align-items: center;
		text-align: center;
		background-color:lightblue;
	}

	.calendar_header > p:first-child{
		grid-column:1;
	}

	.calendar_header > p:nth-child(2){
		grid-column:2;
	}

	.calendar_header > p:nth-child(3){
		grid-column:3;
	}

	.calendar_header > p:nth-child(4){
		grid-column:4;
	}

	.calendar_header > p:nth-child(5){
		grid-column:5;
	}

	.calendar_header > p:nth-child(6){
		grid-column:6;
	}
	.calendar_header > p:last-child{
		grid-column: 7;
	}

	#week1{
		grid-row:2;
	}
	#week2{
		grid-row:3;
	}
	#week3{
		grid-row:4;
	}
	#week4{
		grid-row:5;
	}
	#week4 > .day:nth-child(3){
		background-color:lightblue;
	}
	#week5{
		grid-row:6;
	}
	.calendar_day {
	  padding: 16px;
	}

	.calendar_header > p {
	  text-transform: uppercase;
	  font-size: 0.8em;
	  font-weight: bold;

	}

	.day {
		text-align:center;
	  border-right: 1px solid #e1e1e1;
	  border-top: 1px solid #e1e1e1;
	}

	.day:first-child{
		grid-column:1;
	}
	.day:nth-child(2){
		grid-column: 2;
	}
	.day:nth-child(3){
		grid-column: 3;
	}
	.day:nth-child(4){
		grid-column:4;
	}
	.day:nth-child(5){
		grid-column:5;
	}
	.day:nth-child(6){
		grid-column: 6;
	}
	.day:last-child {
	  border-right: 0;
	  grid-column:7;
	}	

	#events{
		text-align: center;
		grid-column: 1;
		grid-row: 5;
	}
	#footer_id{
		color:yellow;
		text-align:center;
	}

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
