a:link {
    color: yellow; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

body {
    height: 700px;
    background: purple; /* For browsers that do not support gradients */
    background: linear-gradient(-35deg, DarkSlateGrey, brown); /* Standard syntax (must be last) */
}

#login_block{
    margin: 20% 40% 40% 50%;
}