:root {
  --blue: #34495e;
  --green: #e74c3c;
  --yellow: #C9C243;
  --orange: #FFA644;
  --red: #3498db;
}

/* GLOBAL STYLES
-----------------------------------------*/
html,
body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333333; /* dark, almost black, gray colour */
}
h1,
h2 {
  font-family: "Nixie One", serif;
  font-weight: 300; /* removes default bold styles */

  margin: 0; /* removes default space */
}
h1{
  color:grey;
}
a {
  color: #800000;
  text-decoration: none; /* removes default underline */
}
a:hover {
  background: rgba(255, 255, 255, 0.3);
}
header,
main,
nav {
  padding: 20px 30px;
}
main {
    margin: auto;
    clear:both;
}
.highlight {
  color: #bf6d50;
}


/* HEADER STYLES
-----------------------------------------*/
header h1 {
  font-size: 50px;
}
header h2 {
  font-size: 20px;
}
header {
  float: left;
}
nav {
  float: right;
  font-size: 20px;

}
nav a {
  padding: 25px;
  font-size: 18px;
  font-weight: bold;
}

/* HOME PAGE STYLES
-----------------------------------------*/ 
.home {
  
}
.catalog{
  background: url(../images/background-6.jpg) no-repeat 50%;
  background-size: cover; 
}

/* CATALOG STYLES
-----------------------------------------*/
.profile-img {
  float: left;
  margin-right: 20px;
  width: 50%;
}
blockquote {
  clear: both;
  padding: 5px 150px 0;
  text-align: center;
}
blockquote p {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

/* CONTACT STYLES
-----------------------------------------*/
.profile {
  background-color: var(--blue);
  color: #34495e;
  margin:20px;
}
.contact main {
  background: rgba(255, 255, 255, 0.7);
  padding-top: 40px;
  padding-bottom: 40px;
}
.contact main h1 {
  text-transform: none;
}

/* form styles */
form {
  width: 400px;
}
input,
textarea {
  border: 1px solid #BF6D50;
  width: 400px;
  margin-bottom: 10px;
}
input {
  height: 20px;
} 
textarea {
  height: 100px;
}
button {
  background: #BF6D50;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
}


/* FOOTER STYLES
-----------------------------------------*/
/* Sticky Footer - http://css-tricks.com/snippets/css/sticky-footer */
.page-wrap {
  min-height: 100%;
  margin-bottom: -55px; /* must be the same height as footer */
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, 
.page-wrap:after {
  height: 40px; /* however tall you want the footer to be */
}
footer {
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1px;
  text-transform: lowercase;
  opacity: 0.7;
}
/* Profile STYLES
---------------------------------------*/
.wrapper {
  display: grid;
  grid-gap: 10px;
  
  color: var(--orange);

}

.card {
  border: 1px solid #BFBFBF;
  background-color: var(--blue);
     box-shadow: 10px 10px 8px 10px #888888;
    margin: 30px;
    text-align: center;
    border-radius: 5px;
  padding: 60px;
    width: 90%;
}
/*.card2{
    float:center;
    box-shadow: 10px 10px 8px #888888;
    max-width: 300px;
    margin: auto;
    text-align: center;
}
.card3{
    float:right;
    box-shadow: 10px 10px 8px #888888;
    max-width: 300px;
    margin: auto;
    text-align: center;
}*/

.title {
    color: var(--orange);
    font-size: 15px;
    opacity: :2.0;
}


a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}



