@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: 80%;
    align-content: center;
    align-items: stretch;
  }
  @media (min-width: 650px) {
    body {
      grid-template-columns: repeat(2, minmax(150px, 20%));
    }
    h1,
    .register {
      grid-column-end: span 3;
      width: auto;
    }
    .register > div {
      display: grid;
      grid-template-columns: 4fr 5fr 1fr;
      align-items: center;
    }
    input[type="submit"] {
      grid-column: 3;
    }
    
  }
}