
body header{
  max-width:60%;
}

main{
  max-width: 60%;
}

#ul_su_curs, #ul_su_lab, #ul_su_even{
  display:none;
}/*
#a_su_curs:hover + #ul_su_curs, #a_su_lab:hover + #ul_su_lab, #a_su_even:hover + #ul_su_even {
  display:block;
}
.ul_su_curs_act{
  display:block;
  height: 300px;
}
*/

@media (min-width: 620px) {
  main {
    column-count: 1;
    column-gap: 20px;
  }

  .main_container {
    column-count: 1;
  }

  section {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid;
  }
}

@media (min-width: 960px) {
  main {
     column-count: 1;
  }
}