@media (min-width: 620px) {
  main {
    column-count: 2;
    column-gap: 20px;
  }

  .main_container {
    column-count: 1;
  }

  section {
    break-inside: avoid;
  }
  .options-link {
    font-size: 1.4em;
  }
}

@media (min-width: 960px) {
  main {
     column-count: 2;
  }
  .main_container {
    column-count: 1;
  }
}

/* styles */

:root {
  --blue: #34495e;
  --green: #e74c3c;
  --yellow: #C9C243;
  --orange: #FFA644;
  --light_blue: #3498db;
}

body {
  background-color: var(--blue);
  font-family: 'Ubuntu', sans-serif;
  background: lightblue;
  background: #34495e;
  color: #34495e;
}

body header nav a {
	/*border-right:2px solid DarkSlateGrey;*/
	box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.75);
	font-family: Verdana;
	background-color:#FAFAFA;
	text-decoration: none;
	color: DarkSlateGrey;
  border-top: 5px solid var(--light_blue);
}
body header nav a.active {
  background-color: #FAFAFA;
  color: #34495e;
  height: 28px;
  padding-top:10px;
  font-weight: bold;
  border-top: 8px solid var(--light_blue);
}

body header nav a:hover:not(.active) {
    background-color: #FAFAFA;
    color: #34495e;
    height: 28px;
    padding-top:10px;
    font-weight: bold;
    border-top: 8px solid var(--light_blue);
}
ul{
	list-style: none;
}
#nav_ul{
	list-style: none;
	display:grid;
	width:100%;
  height:100%;
	position:relative;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(3, 1fr);
}

.nav_item a{
	display:block;
	width:100%;
	align-content: center;
	text-decoration: none;
	color: darkslategrey;
 	transition: font-size 0.3s ease, background-color 0.3s ease;
	padding:0;
  height: 21px;
  padding-top: 3px;
}
#home_li{
	grid-row:1;
	grid-column:1;
}
#home_li a{
	border-top-left-radius: 17px;
	border-bottom-left-radius: 17px;
}
#sugestii_li{
	grid-row:1;
	grid-column:2;
}

#ddn a{
	border-top-right-radius: 17px;
	border-bottom-right-radius: 17px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  max-width: 1200px;
  min-height:25%;
  margin: 0 auto;
  padding: 20px 20px 0;
}

body header nav{
	text-align: center;
	position:relative;
	height:25%;
	justify-content: center;
}

.title {
  font-size: 2.6em;
  text-align: center;
  color: white;
  margin-bottom: 20px
}

.figure-img {
  display: block;
  width: 100%;
  object: fit;
}

h2 {
  font-size: 1.4em;
  padding: 10px;
}
h3{
  font-sie: 1.2em;
  padding:10px;
}
p {
  margin-bottom: 1em;
  padding: 0 10px;
}

.info-link {
  text-decoration: none;
  color: var(--light_blue);
  padding: 10px;
  display: block;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-top: 3px solid var(--light_blue);
  border-radius: 3px;
  background-color: white;
}

.options-link {
  text-decoration: none;
  font-size: 0.9em;
  color: var(--light_blue);
}

section {
  border-top: 3px solid var(--light_blue);
  border-radius: 3px;
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;


}

.section-img {
  display: block;
  padding: 10px;
  margin: 0 auto;
}

.bigtitle {
  padding: 0;
}

.bigtitle-title {
  color: white;
  background-color: var(--light_blue);
  text-align: center;
  margin-bottom: 15px;
}

.bigbottom-link {
  background-color: var(--green);
  color: white;
}

.profile {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.flex-item:nth-of-type(1) { flex-grow: 1; }
.flex-item:nth-of-type(2) { flex-grow: 1; }
.flex-item:nth-of-type(3) { flex-grow: 6; }
.flex-item:nth-of-type(4) { flex-grow: 1; }
.flex-item:nth-of-type(5) { flex-grow: 1; }

.flex-item {

  background: tomato;
  border: 3px solid rgba(0,0,0,.2);
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.future_events li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.future_events li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.future_events li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.future_events li.checked {
  background: #3498db;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.future_events li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.future_events li a{
  padding:10px;
  text-decoration:none;
  font-family: 'Ubuntu', sans-serif;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


#ul_su_curs, #ul_su_lab, #ul_su_even{
  display:none;
}

#a_su_curs:hover + #ul_su_curs, #a_su_lab:hover + #ul_su_lab, #a_su_even:hover + #ul_su_even {
  display:block;
}
.ul_su_curs_act{
  display:block;
  height: 300px;
}

#profile{
	grid-row:1;
	grid-column:2;
}
